<h1>Edit Car</h1>

{% block getCar %}
<form method="post" onsubmit="return editCarFunction()" action="/carEdited">
    <p>Car ID: </p> 
    <input type="text" name="regID" value="{{getCar.regID}}" readonly>
    <p>Make: </p> 
    <select name="make">
        {% for brandIndex in brands %}
            {% if brandIndex == getCar.make %}
            <option name="{{ brandIndex }}" selected value="{{ brandIndex }}">{{ brandIndex }}</option>
            {% else %}
            <option name="{{ brandIndex }}" value="{{ brandIndex }}">{{ brandIndex }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <p>Color: </p> 
    <select name="color">
        {% for colorIndex in colors %}
            {% if colorIndex == getCar.color %}
            <option name="{{colorIndex}}" selected value="{{ colorIndex }}">{{ colorIndex }}</option>
            {% else %}
            <option name="{{colorIndex}}" value="{{ colorIndex }}">{{ colorIndex }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <p>Production Year: </p> 
    <input type="text" name="prodYear" id="prodYearId" value="{{getCar.prodYear}}">
    <p>Price / Day: </p> 
    <input type="text" name="price" id="priceId" value="{{getCar.price}}">
    </br>
    </br>
    <input type="submit" value="Edit">
</form>
{% endblock %} 
<form method="post" action="/carsIndex">
    <input type="submit" value="Car Index">
</form>

<script>
function editCarFunction() {

    let prodYearCheck = document.getElementById("prodYearId").value;
    if(prodYearCheck < 1900 || prodYearCheck > 2020) {
        alert("Incorrect Production Year value, try again.");
        return false;
    } 

    let priceCheck = document.getElementById("priceId").value;
    if(priceCheck <= 0) {
        alert("Incorrect price value, try again.");
        return false;
    }
    
}
</script>

{#
    Sida med formulär för att ändra uppgifter om en bil. 
    If else satser används för att disabla möjligheten att radera eller 
    editera bilar som är uthyrda. Javascript används för att kontrollera 
    produktionsdatumet för bilen samt att dygnspriset är ett poitivt tal.
#}